/* ~~~~~ Main ~~~~~ */
body {
    color: #111111;
    font-size: 18px;
    font-family: "Neuton", Georgia, serif;
    background: url(/img/bg/wood-bg.jpg) top center;
    height: auto;
    width: 100%;
}
h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h5 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}
a {
    text-decoration: none;
}
a:hover {
    color: #EFC430;
}
.yellow a:hover {
    color: #000000;
}
strong {
    font-family: "Oswald", Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
button, input[type="submit"] {
    background: url(/img/bg/sm-btn-bg.jpg);
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Source Sans Pro", "Oswald", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 215px;
    height: 40px;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(204, 157, 43, 1);
}
button a {
    width: 100%;
    height: 100%;
    display: block;
}
button:hover, button:hover a, input[type="submit"]:hover {
    color: #000000;
    text-shadow: none;
}
h1 {
    font-family: "Oswald", Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
h2 {
    font-family: "Neuton", Georgia, serif;
    font-weight: 600;
    text-transform: uppercase;
}
h1, h2, h3, h4 {
    margin-bottom: 0;
}
.cover {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
#home .cover {
    height: 560px;
}
.lg-pad {
    padding: 100px 0;
}
.sm-pad {
    padding: 50px 0;
}
.center h1 {
    text-align: center;
}
.center {
    text-align: center;
}
.yellow {
    background: url(/img/bg/concrete-pattern-3-3.png) 0 0 repeat;
    color: #000000;
}
.black {
    background: #000000;
    color: #EFC430;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.btm {
    padding-bottom: 0;
}

/* ~~~~~ Verification Page ~~~~~ */

.verify {
    background: url('/img/bg/our-menu-top-bg.png') top center repeat-x, url('/img/bg/our-menu-bottom-bg.png') bottom center repeat-x, #000000;
    color: #FFFFFF;
    z-index: 0;
    text-align: center;
    height: 100vh;
    position: relative;
}
.verify .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.logo-lg {
    padding-bottom: 50px;
}
.logo-lg img {
    max-width: 100%;
}
.verify h1 {
    font-size: 56px;
    color: #EFC430;
    font-weight: 700;
}
.verify h4 {
    font-family: 'Oleo Script', Zapfino, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
}

/* ~~~~~ Navigation ~~~~~ */

.logo {
    display: block;
    max-width: 175px;
    max-height: 95px;
    padding: 20px 0 0 0;
}
nav {
    width: 100%;
    height: 100px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Oswald", Helvetica, sans-serif;
}
nav ul {
    height: 100px;
    text-align: right;
}
nav li {
    height: 100%;
    display: inline-block;
}
nav li a {
    color: #FFFFFF;
    display: inherit;
    padding: 40px 12px 15px;
}
nav li.active a {
    color: #FFFFFF;
}
nav li.hovered a, nav li.active a {
    color: #000000;
}
nav li.hovered, nav li.active {
    background: url(/img/bg/sm-btn-bg.jpg), #EFC430;
}
nav li, nav li a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* ~~~~~ Locations ~~~~~ */

.locations  {
    text-align: center;
    position: relative;
    background: url(/img/bg/concrete-pattern-3-2.png) 0 0 repeat;
}
.locations:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/bg/location-tanks-bg.jpg) center center;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.locations .container {
    z-index: 1;
}
.subnav {
    width: 100%;
    height: 40px;
    text-align: center;
}
.subnav-links li {
    display: inline-block;
    padding: 8px 8px;
    font-weighT: 600;
    font-size: 16px;
    text-transform: uppercase;
}
.info {
    background: url(/img/bg/concrete-pattern-3-2.png) 0 0 repeat;
}
.details p {
    display: inline;
    padding-right: 20px;
}
.jax-beach h1 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 51px;
    color: #EFC430;
}
.jax-beach h2 {
    font-family: "Neuton", Georgia, serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 35px;
    color: #000000;
    padding-bottom: 25px;
}
.biergarten h1 {
    font-family: "Neuton", Georgia, serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 27px;
    color: #000000;
}
.biergarten h2 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 52px;
    color: #EFC430;
    padding-bottom: 25px;
}
.beer-menu {
    background: url(/img/bg/concrete-pattern-3-3.png) 0 0 repeat;
}
.event-menu {
    background: url(/img/bg/concrete-pattern-3-2.png) 0 0 repeat;
}
.food-menu {
    background: url('/img/bg/our-menu-top-bg.png') top center repeat-x, url('/img/bg/our-menu-bottom-bg.png') bottom center repeat-x, #000000;
    color: #FFFFFF;
    z-index: 0;
}
.food-menu h1 {
    padding-bottom: 20px;
}
.food-menu h3 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: .25px;
    color: #EFC430;
    padding: 20px 0;
    display: inline-block;
}
.food-menu ul li {
    list-style: none;
    font-family: "Oswald", Helvetica, sans-serif;
    color: #FFFFFF;
    display: inline;
    letter-spacing: .5px;
    font-weight: 200;
}
.food-menu ul.list li {
    display: inline-block;
    width: 49%;
}
.food-menu .right {
    float: right;
}
.description p {
    width: 75%;
    color: #AFAFAF;
    font-family: "Neuton", Georgia, serif;
}

/* ~~~~~ Social ~~~~~ */

.social {
    text-align: center;
}
.social-heading h3, h4 {
    display: inline;
}
.social-heading h3 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: .25px;
    color: #FFFFFF;
}
.social-heading h4 {
    font-family: 'Oleo Script', Zapfino, sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #EFC430;
}
.social-heading a {
    display: inline-block;
    padding: 10px 10px 0 10px;
}

/* ~~~~~ Our Beers ~~~~~ */

.beers {
    text-align: center;
}
.beers .beer {
    display: inline-block;
    margin: 8px;
}
.beers .beer .thumb {
    cursor: pointer;
}
.beers ul li a {
    cursor: pointer;
}
.beers ul li.active a {
    color: #EFC430;
}

/* ~~~~~ Beer Modal ~~~~~ */
.modal, .backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    position: fixed;
}
.modal .box {
    z-index: 200;
    width: 860px;
    height: auto;
    display: none;
    max-width: 100%;
    min-height: 340px;
    position: relative;
    border-radius: 5px;
    padding: 40px 60px;
    background: url('/img/bg/concrete-pattern-3-2.png'), #FFF;
}
.modal .box:after {
    content: '';
    display: table;
    clear: both;
}
.modal .close {
    top: 0;
    right: 12px;
    line-height: 1;
    color: #4D4D4D;
    font-size: 50px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    font-family: 'Georgia';
}
.modal {
    z-index: 150;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.backdrop {
    z-index: 100;
    background: rgba(0,0,0,.5);
}
.modal.active, .backdrop.active {
    opacity: 1;
    height: auto;
}
.modal, .backdrop {
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.modal.active .box {
    display: block;
}
.box img {
    float: left;
    max-width: 45%;
}
.box .text {
    text-align: left;
    float: left;
    max-width: 50%;
    padding-left: 20px;
}
.text .title {
    color: #EFC430;
}
.text .title {
    color: #EFC430;
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: "Oswald", Helvetica, sans-serif;
}
.text .description {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 14px;
    display: inline-block;
}
.text li {
    list-style: none;
    color: #000000;
    display: inline-block;
    padding-right: 40px;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.text li:before {
    content: attr(data-label);
    color: #EFC430;
    display: block;
    font-size: 14px;
    font-family: "Oswald", Helvetica, sans-serif;
}

/* ~~~~~ Beer Finder ~~~~~ */

.find-beer {
    text-align: center;
    background: url('/img/bg/our-menu-bottom-bg.png') bottom center repeat-x, #000000;
}
.beer-finder h2, h4 {
    display: inline;
}
.beer-finder h2 {
    font-family: "Neuton", Georgia, serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 49px;
    color: #FFFFFF;
}
.beer-finder h4 {
    font-family: 'Oleo Script', Zapfino, sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #EFC430;
    text-transform: lowercase;
}
.beer-finder h1 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    color: #EFC430;
}

/* ~~~~~ Contact ~~~~~ */

.contact {
    background: url('/img/bg/our-menu-top-bg.png') top center repeat-x, #000000;
    color: #FFFFFF;
}
.contact h3 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: .5px;
    color: #EFC430;
    padding: 0 0 20px;
}
.contact h5 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: .25px;
    color: #FFFFFF;
    padding: 0;  
}
.contact input[type="submit"] {
    width: 100%;
    padding: 0;
    -webkit-appearance: none;
}

/* ~~~~~ The Shop ~~~~~ */

.certificate  {
    position: relative;
    background: url(/img/bg/concrete-pattern-3-2.png) 0 0 repeat;
}
.certificate:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/bg/location-tanks-bg.jpg) center center;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.certificate .container {
    z-index: 1;
}
.certificate h1 {
    font-family: "Neuton", Georgia, serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
    color: #000000;
}
.certificate h2 {
    font-family: "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 52px;
    color: #EFC430;
    padding-bottom: 25px;
}
.certificate img {
    padding: 20px 0;
}

/* ~~~~~ Footer ~~~~~ */

footer p, ul, li, a {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}
footer ul li {
    display: inline;
    padding: 0 10px;
    list-style: none;
}
.footer-nav {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", Helvetica, sans-serif;
    letter-spacing: .5px;
}
.footer-nav li.active a {
    color: #EFC430;
}
.footer-end {
    background: rgba(0,0,0,.7);
    padding: 15px 0;
    text-align: center;
}
.footer-end .container {
    opacity: .8;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.footer-end:hover .container {
    opacity: 1;
}
.footer-end img {
    width: 120px;
}
.footer-end p {
    padding-top: 15px;
}

/* ~~~~~ Media Queries ~~~~~ */
@media (max-width: 999px) {
    nav li.active {
        background: none;
    }
    nav li.active a {
        color: #EFC430;
    }
}
@media (max-width: 749px) {

}
@media (max-width: 549px) {

}
@media (max-width: 399px) {

}